# Python
__pycache__/
*.py[cod]

# Django
db.sqlite3
*.log
media/
nginx/
*.key
*.crt
*.pem
*.cer
*.csr

# Virtual Environments
venv/
myenv/
env/
web-venv/
.env
.env
house/.env

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Frontend - Node / React / Next.js
frontend/node_modules/
frontend/.next/
frontend/build/
frontend/.env.local
frontend/.env.production
frontend/.env.development

*.tar
*.img

htmlcov/
coverage.xml
.coverage

*.json
*.yaml
*.yml

*.session.sql
.env
house/.env
.env
