{% if status_choices %}
<select name="status" class="gh-form-control" style="width:auto">
    <option value="">All Statuses</option>
    {% for k,v in status_choices %}<option value="{{ k }}" {% if status_filter == k %}selected{% endif %}>{{ v }}</option>{% endfor %}
</select>
{% endif %}
{% if source_choices %}
<select name="source" class="gh-form-control" style="width:auto">
    <option value="">All Sources</option>
    {% for k,v in source_choices %}<option value="{{ k }}" {% if source_filter == k %}selected{% endif %}>{{ v }}</option>{% endfor %}
</select>
{% endif %}
